@import "../component/footerSubscription";
@import "../component/footerVerticalMenu";
@import "../component/footerConnectOn";
@import "../component/footerLanguages";
@import "../component/footerGroupMenu";
@import "../component/footerAphabetticalMenu";
@import "../component/footerPolicy";
@import "../component/footerCopyright";
@import "../component/footerAlibabaMobile";

.footer-second {
  hr.hr {
    width: 92%;
    border: 1px solid #313d51;
  }
}

@media only screen and (max-width: 576px) {
  .alibaba-mobile {
    display: flex;
    background-color: red;
  }
}
