@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import "../component/headerMobileNavMenu";
@import "../component/headerBranding";
@import "../component/headerMobileLoginMenu";
@import "../component/allCategoryHeaderForMobile";
@import "../component/headerSearchBox";
@import "../component/headerLoginMenu";
@import "../component/headerMoreMenu";

@media only screen and (max-width: 576px) {
  .header {
    height: 104px;
    align-content: flex-start;
  }
  .login-menu,
  .menu--header-more,
  .cart,
  #block-searchbtn {
    display: none;
  }
  .menu--lite-cart-login-menu {
    display: flex;
    top: 96px;
  }
  .region-header {
    justify-content: flex-start;
    padding: 0px 12px;
    margin: 8px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 56px;
    align-content: flex-start;
  }
  .menu--lite-cart-login-menu {
    display: none;
  }
  .region-header {
    justify-content: flex-start;
    padding: 0px 12px;
    margin: 8px 0px;
    height: 45px;
    form{
      .form-item-keyword{
        input{
          width: 307px !important;
        }
      }
    }
    .login-menu{
      margin: 0px 15px !important;
    }
    .more-menu{
      margin: 0;
      margin-top: 50px;
      margin-right: 20px;
    }
  }
}
