@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import "../component/headerMobileNavMenu";
@import "../component/headerBranding";
@import "../component/headerMobileLoginMenu";
@import "../component/allCategoryHeaderForMobile";
@import "../component/headerSearchBox";
@import "../component/headerLoginMenu";
@import "../component/headerMoreMenu";


@media only screen and (max-width: 576px) {
  .header {
    height: 104px;
    align-content: flex-start;
  }
  .login-menu,
  .menu--header-more,
  .cart, #block-searchbtn {
    display: none;
  }
  .menu--lite-cart-login-menu {
    display: flex;
  }
  .region-header{
    justify-content: flex-start;
    padding: 0px 12px;
    margin: 8px 0px;
  }
}
