*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$filter-text-color: #b2b4b5;
$footer-text-color: #ffffff;
body {
  background-color: #eaedf6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: #fafafafa;
  }
}

.hidden {
  display: none;
}

.form-item {
  margin: 0;
  padding: 0;
}
