@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.region {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  .block-region {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
.header {
  font-family: 'roboto';
  width: 100vw;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #2874f0;
  // margin-top: 700px;
}
.region-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.mega-menu {
  width: 100vw;
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 9px grey;
  .menu--mega-menu {
    display: flex;
    justify-content: center;
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  .main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    background-color: #eaedf6;
    margin: 50px 0 50px 0;
    .layout-content {
      box-sizing: border-box;
      width: 900px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 10px;
    }
    .layout-sidebar-sidebar {
      width: 310px;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      @media only screen and (max-width: 576px) {
        display: none;
      }
    }
  }
}

.footer-second {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #445268;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  @media only screen and (max-width: 576px) {
    display: none;
  }
}

.visible {
  display: flex;
}


@media only screen and (max-width: 576px){
  .main{
    flex-direction: column;
  }
}