.view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}
.views-row {
  background-color: white;
  display: inline-flex;
  border-radius: 10px;
  width: 275px;
  height: 320px;
  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
  }
}

.card:hover{
  position: relative;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(38, 71, 218, 0.747) 0px 0px 20px;
}

.views-field {
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}
.views-field-field-product-image {
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.views-field-field-price {
  margin: 0px 0 10px 0;
  .field-content {
    color: red;
  }
}
.fivestar-default {
  display: flex;
  justify-content: center;
  .description{
    display: none;
  }
}
.views-field-field-discount {
  position: relative;
  top: 10px;
  left: -125px;
  .field-content {
    position: absolute;
    
    span{
      display: inline-flex;
      justify-content: center;
      width: 50px;
      padding: 2px;    
      background-color: palegreen;
      box-shadow: inset 25px 0px 25px -32px rgb(0 0 0 / 45%), inset -25px 0px 25px -32px rgb(0 0 0 / 45%);
    }
  }

}
@media only screen and (max-width: 576px) {
  .view-content{
    flex-direction: column;
  }
}