.detail-wrapper {
  width: 97vw;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: $footer-text-color;
  border-radius: 10px 10px 0px 0px;
  padding-top: 45px;
  margin-right: -10px;
  .left-side {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .detail-image {
      width: 110%;
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;

      .main-image {
        // margin-right: 60px;

        img {
          width: 30vw;
          height: 30vw;
          max-height: 300px;
          max-width: 300px;
        }
      }
      .small-image-wrapper {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        height: 260px;

        .small-image {
          height: 50px;
          width: 50px;

          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
    .below-btn{
      width: 75%;
      margin-top: 50px;
      .below-image-btn{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        .btn{
          padding: 9px;
          border-radius: 5px;
          color: #ffffff;
        }
        .add-to-cart{
          background-color: #605dc0;
        }
        .buy-now{
          background-color: #ef368a;
        }
      }
    }
  }

  .detail-all-fields {
    width: 50%;
    padding-right: 40px;

    .rating {
      margin-top: 15px;
      svg {
        color: orange;
      }
    }
    .discount {
      display: flex;
      color: green;
      margin-top: 30px;
      margin-bottom: -10px;
    }
    .price {
      margin-top: 20px;
      h2 {
        display: inline-flex;
        font-weight: 600;
        del {
          color: #adaeb5;
        }
      }
      p {
        color: #adaeb5;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }

    .description {
      h3 {
        margin: 0 0 10px 0px;
      }
      p {
        margin: 10px 0px;
      }
    }

    .quntity {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-start;

      input {
        height: 40px;
        width: 100px;
        border: 1px solid;
        border-radius: 5px;
      }
    }
  }
}
@media only screen and (max-width: 1440px) and (min-width: 576px) {
  .detail-wrapper {
    .detail-all-fields {
      padding: 0px 25px;
      width: 50%;
      .description {
        text-align: justify;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 576px) {
  .detail-wrapper {
    .detail-image {
      .main-image {
        margin: 0;
        img {
          width: 30vw;
          height: 30vw;
        }
      }
    }
    .detail-all-fields {
      padding: 0px 25px;
      width: 100%;
      .description {
        text-align: justify;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .detail-wrapper {
    flex-direction: column;
    align-items: center;
    .detail-image {
      flex-direction: column-reverse;
      .main-image {
        margin: 0;
        img {
          height: 40vw;
          width: 40vw;
        }
      }
      .small-image-wrapper {
        flex-direction: row;
        height: auto;
        margin: 35px 10px;
        width: 90vw;
        justify-content: space-evenly;
      }
    }
    .detail-all-fields {
      padding: 0px 25px;
      width: 100%;
      .description {
        text-align: justify;
      }
    }
  }
}
