.form-item-keyword {
  display: inline-flex;
  background-color: white;
  width: 320px;
  height: 90px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  margin: 10px 0 30px 0;
}

.form-text {
  width: 260px;
  height: 32px;
  border: 1px solid #eaedf6;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
.form-text:focus {
  outline: none;
}
.form-item-categories {
  .form-text {
    display: none;
  }
}
.form-type-select {
  padding: 15px 0;
  label {
    color: $filter-text-color;
    display: block;
    margin-bottom: 7px;
  }
  .form-select {
    color: $filter-text-color;
    background-color: white;
    width: 215px;
    height: 32px;
    border: 1px solid #eaedf6;
    border-radius: 5px;
  }
  .form-select:focus {
    outline: none;
  }
}
.form-wrapper {
  // border-radius: 0px 0px 10px 10px;
  padding: 20px 0px;
  border: none;
  .fieldset-legend {
    position: relative;
    top: 15px;
    color: $filter-text-color;
    font-weight: 200;
  }
  .fieldset-wrapper {
    .form-radios {
      display: inline-flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}

.form-type-select,
.form-item-categories,
.form-wrapper {
  background-color: white;
  width: 320px;
  margin: -10px 0 0 0;
  padding-left: 30px;
}

.form-item-categories {
  padding: 18px 15px;
  border-radius: 10px 10px;
  label {
    padding: 0px 15px;
  }
}
#edit-specify-wrapper {
  display: none;
}

#edit-actions--3 {
  border-radius: 0 0 10px 10px;
  padding-bottom: 30px;
}

.form-submit,
button {
  color: white;
  background-color: #625bc5;
  border: 1px solid #625bc5;
  width: 255px;
  height: 40px;
  border-radius: 5px;
}

#edit-field-price-value-all--2, #edit-specify-wrapper--3 {
  display: none;
}

@media only screen and (max-width: 576px) {
  .category {
    display: none;
    position: absolute;
    width: 100vw !important;
    background-color: #ffffff;
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    margin-left: 0px !important;
    top: 145px;
    z-index: 1;

    .region-category {
      display: none;
      .views-exposed-form {
        form {
          .form--inline {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-top: 10px;
            .form-item-keyword {
              display: none;
            }
          }
        }
      }
    }
  }
}
