.alibaba-group-menu{
  width: 65%;
  margin-top: -10px;
  font-size: 12px;

  .menu{
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li{
      width: auto;
      margin-left: 10px;
      a{
        text-decoration: none;
        color: $footer-text-color;

      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 576px) {
  .all-footer-menu {
    .alibaba-group-menu{
      width: 100%;
    }
  }
}
