.policy {
  margin-top: 15px;
  .menu {
    font-size: 12px;
    display: flex;
    li {
      width: auto;
      margin: 0px 2px;
      a{
        text-decoration: none;
        color: $footer-text-color;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
