.connect-on {
  display: flex;
  width: 92%;
  height: 67px;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  div {
    display: inline-flex;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    margin: 0 30px;
  }
  .contextual-region {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    h2 {
      font-size: 14px;
      font-weight: 100;
    }
    span {
      a {
        img {
          max-width: 130px;
          max-height: 30px;
          border-radius: 5px;
          margin-right: 7px;
        }
      }
    }
  }
  .download {
    width: auto;
    height: 32px;
  }

  .our-app {
    width: auto;
    height: 32px;
    a {
      img {
        max-width: 30px;
        max-height: 30px;
        border-radius: 5px;
      }
    }
  }

  .follow-us {
    width: auto;
    max-height: 32px;
    p {
      span {
        svg {
          width: 19px;
          height: 19px;
        }
      }
      a {
        text-decoration: none;
        color: $footer-text-color;
      }
    }
  }
}


@media only screen and (max-width: 1200px) and (min-width: 670px){
  .connect-on{
    width: 100%;
    div{
      margin: 0;
    }
  }
}
@media only screen and (max-width: 670px){
  .connect-on{
    flex-direction: column;
    margin: 35px 0px;
    div{
      margin: 5px 0px;
    }
  }
}