.subscription {
  margin: 45px 0 25px 0;
  .webform-submission-form {
    width: 50vw;
    text-align: center;
    label{
      display: block;
      margin: 10px 0px;
    }
    .form-type-email {
      display: flex;
      width: fit-content;
      display: inline-flex;
      .form-email {
        width: 300px;
        height: 40px;
        background-color: #313d51;
        border-color: #c4c6cf;
        border-style: solid;
        border-width: 1px;
        color: #ffffff;
        display: inline-block;
        line-height: 20.5714px;
        margin: -3px 0px 0px;
        padding: 10px;
      }
    }
    .form-wrapper {
      display: inline-flex;
      background-color: transparent;
      width: auto;
      margin: 0;
      padding: 0;
      .form-submit {
        background-color: transparent;
        border-color: #c6cad1;
        border-radius: 3px;
        border-style: solid;
        border-width: 1.11111px;
        color: #ffffff;
        display: inline-block;
        line-height: 38px;
        padding: 0px 20px;
        text-align: center;
        margin-left: 10px;
        width: 120px;
      }
    }
    .lable-two{
      text-align: start;
      padding-left: 17%;
            color: #999999;
      font-size: 12px;
      line-height: 15.4285px;
      margin: 5px 0px 0px;
    }
    #edit-actions--3{
      padding: 0;
    }
  }
}
