.alibaba-mobile {
  display: none;
  background-color: #ffffff;
}

@media only screen and (max-width: 576px) {
  .alibaba-mobile {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 56px;
    position:fixed;
    bottom: 0px;
    left: 0px;
    .menu--alibabamobilefooter {
      width: 100%;
      .menu {
        display: flex;
        justify-content: space-evenly;
        margin-top: -6px;
        .menu-item {
          a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #000000;
            svg{
              font-size: 25px;
            }
            span{
              font-size: 17px;
              margin-top: 8px;
            }
            &.is-active{
              color: #ff6600;
            }
          }
        }
      }
    }
  }
}
