.connect-on {
  display: flex;
  width: 85%;
  height: 67px;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  div {
    display: inline-flex;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    margin: 0 23px;
  }
  .contextual-region {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    h2 {
      font-size: 14px;
      font-weight: 100;
    }
    span {
      a {
        img {
          width: 130px;
          height: 30px;
          border-radius: 5px;
          margin-right: 7px;
        }
      }
    }
  }
  .download {
    width: auto;
    height: 32px;
  }

  .our-app {
    width: auto;
    height: 32px;
    a {
      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }
    }
  }

  .follow-us {
    width: auto;
    height: 32px;
    p {
      span {
        svg {
          width: 19px;
          height: 19px;
        }
      }
      a {
        text-decoration: none;
        color: $footer-text-color;
      }
    }
  }
}
