.login-menu {
  font-family: "roboto";
  display: inline-block;
  position: relative;
  margin-left: 60px;
  // top: 170px;
  width: auto;
  .menu {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    .menu-item--expanded {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 50px;
      margin-top: 10px;
      .Register-popup-link{
        display: none;
      }
      .login-account {
        display: none;
        background: white;
        padding: 5px 40px;
        line-height: 20px;
        // font-weight: 400;
        color: #2874f0;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        font-size: 18px;
      }
      .my-account {
        margin: 0;
        padding: 0;
        line-height: 20px;
        border: 1px solid transparent;
        border-radius: 2px;
        font-size: 16px;
        margin-top: 10px;
        height: 40px;
        .link-text{
          font-family: 'Roboto';
          font-weight: 500;
          text-transform: capitalize;
        }
        svg{
          font-size: 10px;
          height: 13px;
          width: 9px;        
          margin: 3px 0px 0px 6px;
        }
      }
      .menu {
        z-index: 1;
        margin: 0;
        padding: 0;
        font-size: 14px;
        display: flex; //flex
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        top: 0px;
        background-color: #fafafa;
        border-radius: 0px 0px 2px 2px;
        box-shadow: 0 0 15px -2px #a1a0a0;
        margin-top: 10px;
        .menu-item {
          // display: none;
          padding: 15px 20px;
          border-top: 0.5px solid #e5e5e5;
          width: 240px;
          a {
            color: black;
            text-decoration: none;
            svg {
              color: #2874f0;
              margin-right: 15px;
            }
          }
        }
      }
      .menu::before {
        content: "";
        width: 40px;
        height: 45px;
        background-color: #fafafa;
        position: absolute;
        transform: rotate(45deg);
        z-index: -1;
        top: -2px;
        right: 43%;
      }
      
    }

    .menu-item--expanded:nth-child(1) {
      // display: none;
      .menu-item:first-child {
        display: flex; // display flex
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-top: none;
        .menu {
          margin: 0px;
          position: relative;
          border-radius: unset;
          box-shadow: none;
          .menu-item {
            width: fit-content;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            margin-top: -2px;
            padding: 0px;
            border-top: none;
            a {
              color: #2874f0;
            }            
          }
        }
        .menu::before {
          display: none;
        }
      }
    }

    .menu-item--expanded:nth-child(2) {
      padding: 0;
    }

    .menu-item::marker {
      display: none;
    }
  }
}

.login-menu > .menu > .menu-item > .menu{
  display: none;
  position: absolute;
  top: 48px;
  left: -52px;
}

.login-menu > .menu > .menu-item:hover .menu{
  display: flex;
}

.my-account:hover svg{
  animation: spin 1s;
  animation-play-state:paused;
 }
 
 @keyframes spin{
   from{
     transform: rotate(-180deg);
   }
   to{
     transform: rotate(-180deg);
   }
 }
 
 .login-menu > .menu > .menu-item > .menu > .menu-item > div > .Register-popup-link{
   display: flex !important;
   a{
     color: #2874f0;
     cursor: pointer;
   }
 }
 .login-menu > .menu > .menu-item > .menu > .menu-item > .menu{
  display: none !important;
}


 #block-loginformpopup-2{
  background: white;
  padding: 5px 40px;
  line-height: 20px;
  // font-weight: 400;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 18px;
  .Login-popup-link{
    .login-popup-form{
      
      color: #2874f0;
    }

  }
}
 
// .region-header > #block-loginformpopup-2:hover .region-header > .login-menu > .menu > .menu-item--expanded > .menu {
//   display: flex;
// }

// .region-header > #block-loginformpopup-2:hover .login-menu > .menu > .menu-item--expanded > .menu{

//   // background-color: red;
//   display: flex;

// }