.menu--mobilenavmenu {
  display: none;
  z-index: 1;
  .menu-level-0 {
    margin: 0;
    cursor: pointer;
    .menu-item--expanded {
      .menu-level-1 {
        position: absolute;
        background: #ffffff;
        top: 0px;
        left: -450px;
        margin-left: 0px;
        width: 78%;
        height: 100%;
        overflow: scroll;
        transition: .2s;
        .menu-item:first-child {
          display: flex;
          align-items: center;
          background: #2874f0;
          padding: 2px 0;
          height: 50px;
          padding-left: 23px;
          padding-right: 20px;
          justify-content: space-between;
          a {
            span {
              width: 75%;
              margin-left: 15px;
              font-size: 16px;
              align-self: flex-end;
              color: #fff;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-top: 1px;
            }
            svg {
              margin-left: 12px;
              width: 15px;
              height: 15px;
            }
          }
          img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 15px;
          }
        }
        .menu-item:not(:first-child) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          height: 35px;
          font-size: 14px;
          font-weight: 500;
          padding-left: 35px;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          background: #ffffff;
          color: #212121;
          font-weight: 500;
          a {
            margin-left: 12px;
            font-size: 15px;
            color: black;
          }
          img {
            width: 14px;
            height: 14px;
          }
          span {
            margin-left: 12px;
          }
          .mobile-menu-after::after {
            display: block;
            content: "";
            background-color: #e0e0e0;
            text-decoration: underline;
            width: 450px;
            height: 1px;
            margin-top: 9px;
            margin-left: -50px;
          }
        }
      }
    }
    .menu-item--expanded {
      .hamburger {
        color: #ffffff;
        width: 10px;
      }
    }
  }
  .menu-item--expanded::marker {
    content: "";
  }
}
.active{
  left: -15px !important;
}
.no-scroll{
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .menu--mobilenavmenu {
    display: inline;
    z-index: 1;
    margin: 5px 5px 0 2px;
    .menu-level-0 {
      .menu-item--expanded {
        .overlay {
          background-color: rgba(0, 0, 0, 0.6);
          position: fixed;
          z-index: -1;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;

        }
      }
    }
  }
}
