.header {
  .region-header {
    .form-item:not(:first-child),
    .form-actions {
      display: none;
    }
    form {
      .form-item-keyword {
        // background-color: yellow;
        height: auto;
        width: 522px;
        margin: 0;
        input {
          width: 522px;
          height: 36px;
          border-radius: 0px;
          border: none;
          background-color: #ffffff;
          border-radius: 2px 0px 0px 2px;
          font-size: 14px;
          padding: 0px 16px;
          @media only screen and (max-width: 576px){
            width: 100%;
            border-radius: 2px;
            height: 38px;
          }
        }
        @media only screen and (max-width: 576px){
          width: 100%;
          margin-top: 10px;
          // position:absolute;
        }

        input:focus{
          outline: none;
        }
      }
    }
    #block-searchbtn {      
      background-color: white;
      width: 42px;
      height: 36px;
      // display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      border-radius: 0px 2px 2px 0px;
      text-align: center;
      svg {
        color: #2874f0;
        margin-top: 25%;
      }
    }
  }
}

@media only screen and (max-width: 576px){
  #block-searchbtn{
    display: none;
  }
  #block-exposedformfrontpagepage-1-5{
    width: 100%;
    margin: 11px 0px 0px 0px;
  }
}