.header{
  nav{
    background-color: yellowgreen;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    h2{
      background: white;
      padding: 5px 40px;
      line-height: 20px;
      font-weight: 400;
      color: #2874f0;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
    }
    .menu{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 500px;  // remove
      

      .menu-item--expanded{
        display: inline-flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        // width: 400px;
      }
      .menu-item--expanded:first-child{
        background-color: blueviolet;
        // width: 400px;
      }
      .menu-item--expanded > .menu > .menu-item{
        background-color: brown;
      }
      .menu-item{
          height: auto;
          width: 400px;
      }
    }
  }
}